.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html, body, .App {
  margin: 0;
  height: 100vh;
}
body, .App {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
  width: 100%;
}